{{ define "services" }}

<body>

	{{ template "header" }}

    <div class="container">
	
		<div>
		<label>Find Customer </label><br>
        <input type="number" name="customer_id" id="customer_id" /><br><br>
		<input type="button" value="Find customer" id="FindCustomer">
	</div>

		<div>
			<label>Check INN </label><br>
			<input type="number" name="customer_INN" id="customer_INN" /><br><br>
			<input type="button" value="Check INN" id="CheckINN">
		</div>	
		<div>
			<label>Find address </label><br>
			<input type="text" name="customer_Address" id="customer_Address" /><br><br>
			<input type="button" value="Suggest Addresses" id="SuggestAddresses">
		</div>	
    </div>

		<script>
			function FindCustomer() {
			var fname = document.getElementById('customer_id').value;
			//var html = 'Hello <b>' + fname + '</b> ' + lname;
	 
			//alert(fname);
			// Разметка <input type="button" value="go" onclick="location.href='abrokazyabra.html'" />
			document.location.href = "get_customer?customer_id="+fname;
			}

			function CheckINN() {
			var fname = document.getElementById('customer_INN').value;
			//var html = 'Hello <b>' + fname + '</b> ' + lname;
	 
			//alert(fname);
			// Разметка <input type="button" value="go" onclick="location.href='abrokazyabra.html'" />
			document.location.href = "checkINN?customer_INN="+fname;
			}

			function SuggestAddresses() {
			var fname = document.getElementById('customer_Address').value;
			//var html = 'Hello <b>' + fname + '</b> ' + lname;
	 
			//alert(fname);
			// Разметка <input type="button" value="go" onclick="location.href='abrokazyabra.html'" />
			document.location.href = "SuggestAddresses?customer_Address="+fname;
			}
	 
			document.getElementById('FindCustomer').addEventListener('click', FindCustomer);
			document.getElementById('CheckINN').addEventListener('click', CheckINN);
			document.getElementById('SuggestAddresses').addEventListener('click', SuggestAddresses);
		</script>
	
</body>

{{ end }}
