{{ define "add_change_customer" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Customer card</title>
    </head>
    <body>
	{{ template "header" }}
        <h2>Customer card</h2>
        <form method="POST" action="postform_add_change_customer">
            <label>Имя клиента</label><br>
            <input type="text" name="customer_name" /><br><br>
			
            <label>Код</label><br>
            <input type="number" name="customer_id" /><br><br>
			
			<label>Тип клиента</label><br>
            <input type="text" name="customer_type" /><br><br>
			
            <input type="submit" value="Отправить" />
        </form>
    </body>
</html>
{{ end }}